
body{
    background-color: rgb(255, 255, 255);
}

h1 {

    margin-top: 50px;
    margin-bottom: 1px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
}
h2 {

    text-align: center;
    color: rgb(0, 0, 0);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 20px;
}
p#explicacion{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 50px;
    margin-right: 50px;
}

div#links{
    
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
   
    margin-left: 40px;
  
}
