
body{

    background-color: black;
}

h1 {

    margin-right: 10px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
    color: rgb(255, 255, 255);
    font-family:andale mono, monospace;
  

}
p#explicacion {

    font-family:andale mono, monospace;
    text-align:left;
    margin-left: 50px;
    margin-right: 120px ;
    margin-top: 40px;
}
p#fuente {
  
    font-family:andale mono, monospace;
    font-style: italic;
    margin-left: 50px;
    font-size: small;
    margin-bottom: 50px;
    margin-top: 1px;
}
#chart {
    overflow-y: auto;
    margin-left: 300px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-family:andale mono, monospace;
  }
 
 ul li a{
  
    font-family: andale mono, monospace;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-size: small;
   
 }

 ul li{
    background-color: rgb(84, 38, 140);
    
    border-radius: 20px;
    text-align: center;
    margin-left: 1070px;
    
    width: 80px;
    height: 20px;
 }
ul li a#inicio:hover{
    background-color: rgb(84, 38, 140);
    color: rgb(103, 94, 113);

 }
 