
body{

    background-color: black;
}

h1 {

    margin-right: 10px;
    margin-left: 120px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: left;
    color: rgb(255, 255, 255);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  

}
p#explicacion {

    font-family: andale mono, monospace;
    text-align:left;
    margin-left: 50px;
    margin-right: 120px ;
    margin-top: 40px;
    color: aliceblue;
}
p#fuente {
  
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    margin-left: 185px;
    font-size: small;
    margin-bottom: 50px;
    margin-top: 1px;
    color: aliceblue;
}
#chart {
    overflow-y: auto;
    margin-left: 75px;
    margin-top: 30px;
    margin-bottom: 1px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;


  }
  ul li a{
  
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    color: aliceblue;
    text-decoration: none;
    font-size: small;
   
 }

 ul li{
    background-color: rgb(84, 38, 140);
    
    border-radius: 20px;
    text-align: center;
    margin-left: 1070px;
    
    width: 80px;
    height: 20px;
 }
ul li a#inicio:hover{
    background-color: rgb(84, 38, 140);
    color: rgb(103, 94, 113);

 }
 